@font-face {
    font-family: ChronicleB;
    src: url(/fonts/Chronicle\ Display\ Black.otf);
}

@font-face {
    font-family: ChronicleSB;
    src: url(/fonts/Chronicle\ Display\ Semibold.otf);
}

@font-face {
    font-family: GilroyB;
    src: url(/fonts/Gilroy-Bold_0.ttf);
}

@font-face {
    font-family: GilroyEB;
    src: url(/fonts/Gilroy-Extrabold_0.ttf);
}

@font-face {
    font-family: GilroyM;
    src: url(/fonts/Gilroy-Medium_0.ttf);
}


.heading-1 {
    font-family: ChronicleB, sans-serif;
    font-size: 32px;
    color: #fff;
    z-index: 1;
    top: 50px;
    left: 80px;
    margin: 0;
}

.nav {
    font-family: GilroyB, sans-serif;
    font-size: 18px;
    z-index: 1;
    top: 66px;
    color: #fff;
    text-decoration: none;
}

.nav:hover {
    color: #bdbdbd;
}

.heading-text {
    font-family: GilroyB, sans-serif;
    font-size: 17px;
    z-index: 1;
    top: 67px;
    color: #fff;
    right: 80px;
    margin: 0;
    text-decoration: none;
}

.heading-text:hover {
    color: #bdbdbd;
}

.hiking__title {
    font-family: GilroyEB, sans-serif;
    font-size: 18px;
    z-index: 1;
    top: 287px;
    left: 604px;
    margin: 0;
    color: #FBD784;
}

.hiking__text {
    font-family: ChronicleSB, sans-serif;
    font-size: 88px;
    color: #fff;
    z-index: 1;
    top: 341px;
    left: 500px;
    width: 950px;
    margin: 0;
}

.hiking__scroll {
    font-family: GilroyB, sans-serif;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    top: 574px;
    left: 500px;
    margin: 0;
}

.sidebar__title {
    font-family: GilroyB, sans-serif;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    margin: 0;
    top: 375px;
    left: 55px;
    transform: rotate(90deg);
}

.sidebar__text {
    font-family: GilroyB, sans-serif;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    margin: 0;
    right: 115px;
}

.main__title {
    color: #FBD784;
    font-family: GilroyEB, sans-serif;
    font-size: 18px;
    margin: 0;
}

.main__subtitle {
    color: #fff;
    font-family: ChronicleSB, sans-serif;
    font-size: 64px;
    margin: 0;
    width: 555px;
}

.main__text {
    color: #fff;
    font-family: GilroyB, sans-serif;
    font-size: 18px;
    margin: 0;
    width: 632px;
    line-height: 32px;
}

.main__more {
    color: #FBD784;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
}

.main__more:hover {
    color: #ffb300;
}

.behind {
    font-family: GilroyB, sans-serif;
    font-size: 240px;
    opacity: 10%;
    color: #fff;
    line-height: 240px;
    margin: 0;
}

.foot__logo {
    color: #fff;
    font-family: ChronicleB, sans-serif;
    font-size: 32px;
    margin: 0;
    left: 229px;
    top: 4200px;
}

.foot__text {
    color: #fff;
    font-family: GilroyB, sans-serif;
    font-size: 18px;
    margin: 0;
    top: 4262px;
    left: 229px;
    width: 303px;
    line-height: 32px;
}

.foot__doc {
    color: #fff;
    font-family: GilroyM, sans-serif;
    font-size: 18px;
    opacity: 50%;
    line-height: 32px;
    margin: 0;
    top: 4448px;
    left: 235px;
}

.footer__list {
    list-style: none
}

.footer__list_element {
    color: #FBD784;
    font-family: GilroyB, sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    margin: 0;
}

.footer__list_element-content {
    color: #fff;
    font-family: GilroyM, sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    text-decoration: none;
}

.footer__list_element-content:hover {
    color: #bdbdbd;;
}